<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('投诉列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>投诉类型：</label>
                                <select name="type">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <label>描述：</label>
                                <input type="text" name="desc"/>
                            </li>
                            <li>
                                <label>投诉人id：</label>
                                <input type="text" name="mebId"/>
                            </li>
                            <li>
                                <label>订单编号：</label>
                                <input type="text" name="orderSl"/>
                            </li>
                            <li>
                                <label>订单序列号：</label>
                                <input type="text" name="orderNum"/>
                            </li>
                            <li>
                                <label>投诉大厦：</label>
                                <input type="text" name="addrId"/>
                            </li>
                            <li class="select-time">
                                <label>提交时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginSubmitTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endSubmitTime]"/>
                            </li>
                            <li class="select-time">
                                <label>处理时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginHandleTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endHandleTime]"/>
                            </li>
                            <li>
                                <label>附件一：</label>
                                <input type="text" name="fj1"/>
                            </li>
                            <li>
                                <label>附件二：</label>
                                <input type="text" name="fj2"/>
                            </li>
                            <li>
                                <label>附件三：</label>
                                <input type="text" name="fj3"/>
                            </li>
                            <li>
                                <label>附件四：</label>
                                <input type="text" name="fj4"/>
                            </li>
                            <li>
                                <label>状态：</label>
                                <input type="text" name="opinionsta"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="kmps:opinion:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="kmps:opinion:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="kmps:opinion:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="kmps:opinion:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('kmps:opinion:edit')}]];
        var removeFlag = [[${@permission.hasPermi('kmps:opinion:remove')}]];
        var prefix = ctx + "kmps/opinion";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "投诉",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: '编号',
                    visible: false
                },
                {
                    field: 'type', 
                    title: '投诉类型'
                },
                {
                    field: 'desc', 
                    title: '描述'
                },
                {
                    field: 'mebId', 
                    title: '投诉人id'
                },
                {
                    field: 'orderSl', 
                    title: '订单编号'
                },
                {
                    field: 'orderNum', 
                    title: '订单序列号'
                },
                {
                    field: 'addrId', 
                    title: '投诉大厦'
                },
                {
                    field: 'submitTime', 
                    title: '提交时间'
                },
                {
                    field: 'handleTime', 
                    title: '处理时间'
                },
                {
                    field: 'fj1', 
                    title: '附件一'
                },
                {
                    field: 'fj2', 
                    title: '附件二'
                },
                {
                    field: 'fj3', 
                    title: '附件三'
                },
                {
                    field: 'fj4', 
                    title: '附件四'
                },
                {
                    field: 'opinionsta', 
                    title: '状态'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>