<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kmps.mapper.MebAccthirdMapper">
    
    <resultMap type="MebAccthird" id="MebAccthirdResult">
        <result property="id"    column="id"    />
        <result property="sessionKey"    column="session_key"    />
        <result property="mebid"    column="mebid"    />
        <result property="openType"    column="open_type"    />
        <result property="openid"    column="openid"    />
        <result property="accessToken"    column="access_token"    />
        <result property="expiredTime"    column="expired_time"    />
        <result property="nickname"    column="nickname"    />
        <result property="avatar"    column="avatar"    />
        <result property="createtime"    column="createtime"    />
        <result property="uniqueid"    column="uniqueid"    />
        <result property="acctsta"    column="acctsta"    />
    </resultMap>

    <sql id="selectMebAccthirdVo">
        select id, session_key, mebid, open_type, openid, access_token, expired_time, nickname, avatar, createtime, uniqueid, acctsta from meb_accthird
    </sql>

    <select id="selectMebAccthirdList" parameterType="MebAccthird" resultMap="MebAccthirdResult">
        <include refid="selectMebAccthirdVo"/>
        <where>  
            <if test="sessionKey != null  and sessionKey != ''"> and session_key = #{sessionKey}</if>
            <if test="mebid != null "> and mebid = #{mebid}</if>
            <if test="openType != null  and openType != ''"> and open_type = #{openType}</if>
            <if test="openid != null  and openid != ''"> and openid = #{openid}</if>
            <if test="accessToken != null  and accessToken != ''"> and access_token = #{accessToken}</if>
            <if test="expiredTime != null  and expiredTime != ''"> and expired_time = #{expiredTime}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="createtime != null "> and createtime = #{createtime}</if>
            <if test="uniqueid != null  and uniqueid != ''"> and uniqueid = #{uniqueid}</if>
            <if test="acctsta != null "> and acctsta = #{acctsta}</if>
        </where>
    </select>
    
    <select id="selectMebAccthirdById" parameterType="Long" resultMap="MebAccthirdResult">
        <include refid="selectMebAccthirdVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMebAccthird" parameterType="MebAccthird" useGeneratedKeys="true" keyProperty="id">
        insert into meb_accthird
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sessionKey != null  and sessionKey != ''">session_key,</if>
            <if test="mebid != null ">mebid,</if>
            <if test="openType != null  and openType != ''">open_type,</if>
            <if test="openid != null  and openid != ''">openid,</if>
            <if test="accessToken != null  and accessToken != ''">access_token,</if>
            <if test="expiredTime != null  and expiredTime != ''">expired_time,</if>
            <if test="nickname != null  and nickname != ''">nickname,</if>
            <if test="avatar != null  and avatar != ''">avatar,</if>
            <if test="createtime != null ">createtime,</if>
            <if test="uniqueid != null  and uniqueid != ''">uniqueid,</if>
            <if test="acctsta != null ">acctsta,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sessionKey != null  and sessionKey != ''">#{sessionKey},</if>
            <if test="mebid != null ">#{mebid},</if>
            <if test="openType != null  and openType != ''">#{openType},</if>
            <if test="openid != null  and openid != ''">#{openid},</if>
            <if test="accessToken != null  and accessToken != ''">#{accessToken},</if>
            <if test="expiredTime != null  and expiredTime != ''">#{expiredTime},</if>
            <if test="nickname != null  and nickname != ''">#{nickname},</if>
            <if test="avatar != null  and avatar != ''">#{avatar},</if>
            <if test="createtime != null ">#{createtime},</if>
            <if test="uniqueid != null  and uniqueid != ''">#{uniqueid},</if>
            <if test="acctsta != null ">#{acctsta},</if>
         </trim>
    </insert>

    <update id="updateMebAccthird" parameterType="MebAccthird">
        update meb_accthird
        <trim prefix="SET" suffixOverrides=",">
            <if test="sessionKey != null  and sessionKey != ''">session_key = #{sessionKey},</if>
            <if test="mebid != null ">mebid = #{mebid},</if>
            <if test="openType != null  and openType != ''">open_type = #{openType},</if>
            <if test="openid != null  and openid != ''">openid = #{openid},</if>
            <if test="accessToken != null  and accessToken != ''">access_token = #{accessToken},</if>
            <if test="expiredTime != null  and expiredTime != ''">expired_time = #{expiredTime},</if>
            <if test="nickname != null  and nickname != ''">nickname = #{nickname},</if>
            <if test="avatar != null  and avatar != ''">avatar = #{avatar},</if>
            <if test="createtime != null ">createtime = #{createtime},</if>
            <if test="uniqueid != null  and uniqueid != ''">uniqueid = #{uniqueid},</if>
            <if test="acctsta != null ">acctsta = #{acctsta},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMebAccthirdById" parameterType="Long">
        delete from meb_accthird where id = #{id}
    </delete>

    <delete id="deleteMebAccthirdByIds" parameterType="String">
        delete from meb_accthird where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>