<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kmps.mapper.MebAuthnameMapper">
    
    <resultMap type="MebAuthname" id="MebAuthnameResult">
        <result property="id"    column="id"    />
        <result property="mebid"    column="mebid"    />
        <result property="mebidty"    column="mebidty"    />
        <result property="realname"    column="realname"    />
        <result property="idno"    column="idno"    />
        <result property="fj1"    column="fj1"    />
        <result property="fj2"    column="fj2"    />
        <result property="fj3"    column="fj3"    />
        <result property="fj4"    column="fj4"    />
        <result property="auditopn"    column="auditopn"    />
        <result property="authsta"    column="authsta"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="auditor"    column="auditor"    />
        <result property="auditTime"    column="audit_time"    />
    </resultMap>

    <sql id="selectMebAuthnameVo">
        select id, mebid, mebidty, realname, idno, fj1, fj2, fj3, fj4, auditopn, authsta, create_by, create_time, auditor, audit_time from meb_authname
    </sql>

    <select id="selectMebAuthnameList" parameterType="MebAuthname" resultMap="MebAuthnameResult">
        <include refid="selectMebAuthnameVo"/>
        <where>  
            <if test="mebid != null "> and mebid = #{mebid}</if>
            <if test="mebidty != null "> and mebidty = #{mebidty}</if>
            <if test="realname != null  and realname != ''"> and realname like concat('%', #{realname}, '%')</if>
            <if test="idno != null  and idno != ''"> and idno = #{idno}</if>
            <if test="fj1 != null  and fj1 != ''"> and fj1 = #{fj1}</if>
            <if test="fj2 != null  and fj2 != ''"> and fj2 = #{fj2}</if>
            <if test="fj3 != null  and fj3 != ''"> and fj3 = #{fj3}</if>
            <if test="fj4 != null  and fj4 != ''"> and fj4 = #{fj4}</if>
            <if test="auditopn != null  and auditopn != ''"> and auditopn = #{auditopn}</if>
            <if test="authsta != null "> and authsta = #{authsta}</if>
            <if test="auditor != null "> and auditor = #{auditor}</if>
            <if test="auditTime != null "> and audit_time = #{auditTime}</if>
        </where>
    </select>
    
    <select id="selectMebAuthnameById" parameterType="Long" resultMap="MebAuthnameResult">
        <include refid="selectMebAuthnameVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMebAuthname" parameterType="MebAuthname" useGeneratedKeys="true" keyProperty="id">
        insert into meb_authname
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mebid != null ">mebid,</if>
            <if test="mebidty != null ">mebidty,</if>
            <if test="realname != null  and realname != ''">realname,</if>
            <if test="idno != null  and idno != ''">idno,</if>
            <if test="fj1 != null  and fj1 != ''">fj1,</if>
            <if test="fj2 != null  and fj2 != ''">fj2,</if>
            <if test="fj3 != null  and fj3 != ''">fj3,</if>
            <if test="fj4 != null  and fj4 != ''">fj4,</if>
            <if test="auditopn != null  and auditopn != ''">auditopn,</if>
            <if test="authsta != null ">authsta,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="auditor != null ">auditor,</if>
            <if test="auditTime != null ">audit_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mebid != null ">#{mebid},</if>
            <if test="mebidty != null ">#{mebidty},</if>
            <if test="realname != null  and realname != ''">#{realname},</if>
            <if test="idno != null  and idno != ''">#{idno},</if>
            <if test="fj1 != null  and fj1 != ''">#{fj1},</if>
            <if test="fj2 != null  and fj2 != ''">#{fj2},</if>
            <if test="fj3 != null  and fj3 != ''">#{fj3},</if>
            <if test="fj4 != null  and fj4 != ''">#{fj4},</if>
            <if test="auditopn != null  and auditopn != ''">#{auditopn},</if>
            <if test="authsta != null ">#{authsta},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="auditor != null ">#{auditor},</if>
            <if test="auditTime != null ">#{auditTime},</if>
         </trim>
    </insert>

    <update id="updateMebAuthname" parameterType="MebAuthname">
        update meb_authname
        <trim prefix="SET" suffixOverrides=",">
            <if test="mebid != null ">mebid = #{mebid},</if>
            <if test="mebidty != null ">mebidty = #{mebidty},</if>
            <if test="realname != null  and realname != ''">realname = #{realname},</if>
            <if test="idno != null  and idno != ''">idno = #{idno},</if>
            <if test="fj1 != null  and fj1 != ''">fj1 = #{fj1},</if>
            <if test="fj2 != null  and fj2 != ''">fj2 = #{fj2},</if>
            <if test="fj3 != null  and fj3 != ''">fj3 = #{fj3},</if>
            <if test="fj4 != null  and fj4 != ''">fj4 = #{fj4},</if>
            <if test="auditopn != null  and auditopn != ''">auditopn = #{auditopn},</if>
            <if test="authsta != null ">authsta = #{authsta},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="auditor != null ">auditor = #{auditor},</if>
            <if test="auditTime != null ">audit_time = #{auditTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMebAuthnameById" parameterType="Long">
        delete from meb_authname where id = #{id}
    </delete>

    <delete id="deleteMebAuthnameByIds" parameterType="String">
        delete from meb_authname where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>