<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kmps.mapper.MebFinancelrdMapper">
    
    <resultMap type="MebFinancelrd" id="MebFinancelrdResult">
        <result property="id"    column="id"    />
        <result property="mebid"    column="mebid"    />
        <result property="sl"    column="sl"    />
        <result property="actamt"    column="actamt"    />
        <result property="nowamt"    column="nowamt"    />
        <result property="type"    column="type"    />
        <result property="createTime"    column="create_time"    />
        <result property="userid"    column="userid"    />
        <result property="memo"    column="memo"    />
        <result property="m1"    column="m1"    />
        <result property="m2"    column="m2"    />
        <result property="m3"    column="m3"    />
    </resultMap>

    <sql id="selectMebFinancelrdVo">
        select id, mebid, sl, actamt, nowamt, type, create_time, userid, memo, m1, m2, m3 from meb_financelrd
    </sql>

    <select id="selectMebFinancelrdList" parameterType="MebFinancelrd" resultMap="MebFinancelrdResult">
        <include refid="selectMebFinancelrdVo"/>
        <where>  
            <if test="mebid != null "> and mebid = #{mebid}</if>
            <if test="sl != null  and sl != ''"> and sl = #{sl}</if>
            <if test="actamt != null "> and actamt = #{actamt}</if>
            <if test="nowamt != null "> and nowamt = #{nowamt}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="userid != null "> and userid = #{userid}</if>
            <if test="memo != null  and memo != ''"> and memo = #{memo}</if>
            <if test="m1 != null  and m1 != ''"> and m1 = #{m1}</if>
            <if test="m2 != null  and m2 != ''"> and m2 = #{m2}</if>
            <if test="m3 != null  and m3 != ''"> and m3 = #{m3}</if>
        </where>
    </select>
    
    <select id="selectMebFinancelrdById" parameterType="Long" resultMap="MebFinancelrdResult">
        <include refid="selectMebFinancelrdVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMebFinancelrd" parameterType="MebFinancelrd" useGeneratedKeys="true" keyProperty="id">
        insert into meb_financelrd
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mebid != null ">mebid,</if>
            <if test="sl != null  and sl != ''">sl,</if>
            <if test="actamt != null ">actamt,</if>
            <if test="nowamt != null ">nowamt,</if>
            <if test="type != null ">type,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="userid != null ">userid,</if>
            <if test="memo != null  and memo != ''">memo,</if>
            <if test="m1 != null  and m1 != ''">m1,</if>
            <if test="m2 != null  and m2 != ''">m2,</if>
            <if test="m3 != null  and m3 != ''">m3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mebid != null ">#{mebid},</if>
            <if test="sl != null  and sl != ''">#{sl},</if>
            <if test="actamt != null ">#{actamt},</if>
            <if test="nowamt != null ">#{nowamt},</if>
            <if test="type != null ">#{type},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="userid != null ">#{userid},</if>
            <if test="memo != null  and memo != ''">#{memo},</if>
            <if test="m1 != null  and m1 != ''">#{m1},</if>
            <if test="m2 != null  and m2 != ''">#{m2},</if>
            <if test="m3 != null  and m3 != ''">#{m3},</if>
         </trim>
    </insert>

    <update id="updateMebFinancelrd" parameterType="MebFinancelrd">
        update meb_financelrd
        <trim prefix="SET" suffixOverrides=",">
            <if test="mebid != null ">mebid = #{mebid},</if>
            <if test="sl != null  and sl != ''">sl = #{sl},</if>
            <if test="actamt != null ">actamt = #{actamt},</if>
            <if test="nowamt != null ">nowamt = #{nowamt},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="userid != null ">userid = #{userid},</if>
            <if test="memo != null  and memo != ''">memo = #{memo},</if>
            <if test="m1 != null  and m1 != ''">m1 = #{m1},</if>
            <if test="m2 != null  and m2 != ''">m2 = #{m2},</if>
            <if test="m3 != null  and m3 != ''">m3 = #{m3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMebFinancelrdById" parameterType="Long">
        delete from meb_financelrd where id = #{id}
    </delete>

    <delete id="deleteMebFinancelrdByIds" parameterType="String">
        delete from meb_financelrd where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>