<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kmps.mapper.MebOpinionMapper">
    
    <resultMap type="MebOpinion" id="MebOpinionResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="remarks"    column="remarks"    />
        <result property="mebId"    column="meb_id"    />
        <result property="orderSl"    column="order_sl"    />
        <result property="orderNum"    column="order_num"    />
        <result property="addrId"    column="addr_id"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="handleTime"    column="handle_time"    />
        <result property="fj1"    column="fj1"    />
        <result property="fj2"    column="fj2"    />
        <result property="fj3"    column="fj3"    />
        <result property="fj4"    column="fj4"    />
        <result property="createBy"    column="create_by"    />
        <result property="opinionsta"    column="opinionsta"    />
    </resultMap>

    <sql id="selectMebOpinionVo">
        select id, type, remarks, meb_id, order_sl, order_num, addr_id, submit_time, handle_time, fj1, fj2, fj3, fj4, create_by, opinionsta from meb_opinion
    </sql>

    <select id="selectMebOpinionList" parameterType="MebOpinion" resultMap="MebOpinionResult">
        <include refid="selectMebOpinionVo"/>
        <where>  
            <if test="type != null "> and type = #{type}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="mebId != null "> and meb_id = #{mebId}</if>
            <if test="orderSl != null  and orderSl != ''"> and order_sl = #{orderSl}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="addrId != null "> and addr_id = #{addrId}</if>
            <if test="submitTime != null "> and submit_time = #{submitTime}</if>
            <if test="handleTime != null "> and handle_time = #{handleTime}</if>
            <if test="fj1 != null  and fj1 != ''"> and fj1 = #{fj1}</if>
            <if test="fj2 != null  and fj2 != ''"> and fj2 = #{fj2}</if>
            <if test="fj3 != null  and fj3 != ''"> and fj3 = #{fj3}</if>
            <if test="fj4 != null  and fj4 != ''"> and fj4 = #{fj4}</if>
            <if test="opinionsta != null "> and opinionsta = #{opinionsta}</if>
        </where>
    </select>
    
    <select id="selectMebOpinionById" parameterType="Long" resultMap="MebOpinionResult">
        <include refid="selectMebOpinionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMebOpinion" parameterType="MebOpinion" useGeneratedKeys="true" keyProperty="id">
        insert into meb_opinion
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null ">type,</if>
            <if test="remarks != null  and remarks != ''">remarks,</if>
            <if test="mebId != null ">meb_id,</if>
            <if test="orderSl != null  and orderSl != ''">order_sl,</if>
            <if test="orderNum != null ">order_num,</if>
            <if test="addrId != null ">addr_id,</if>
            <if test="submitTime != null ">submit_time,</if>
            <if test="handleTime != null ">handle_time,</if>
            <if test="fj1 != null  and fj1 != ''">fj1,</if>
            <if test="fj2 != null  and fj2 != ''">fj2,</if>
            <if test="fj3 != null  and fj3 != ''">fj3,</if>
            <if test="fj4 != null  and fj4 != ''">fj4,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="opinionsta != null ">opinionsta,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null ">#{type},</if>
            <if test="remarks != null  and remarks != ''">#{remarks},</if>
            <if test="mebId != null ">#{mebId},</if>
            <if test="orderSl != null  and orderSl != ''">#{orderSl},</if>
            <if test="orderNum != null ">#{orderNum},</if>
            <if test="addrId != null ">#{addrId},</if>
            <if test="submitTime != null ">#{submitTime},</if>
            <if test="handleTime != null ">#{handleTime},</if>
            <if test="fj1 != null  and fj1 != ''">#{fj1},</if>
            <if test="fj2 != null  and fj2 != ''">#{fj2},</if>
            <if test="fj3 != null  and fj3 != ''">#{fj3},</if>
            <if test="fj4 != null  and fj4 != ''">#{fj4},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="opinionsta != null ">#{opinionsta},</if>
         </trim>
    </insert>

    <update id="updateMebOpinion" parameterType="MebOpinion">
        update meb_opinion
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null ">type = #{type},</if>
            <if test="remarks != null  and remarks != ''">remarks = #{remarks},</if>
            <if test="mebId != null ">meb_id = #{mebId},</if>
            <if test="orderSl != null  and orderSl != ''">order_sl = #{orderSl},</if>
            <if test="orderNum != null ">order_num = #{orderNum},</if>
            <if test="addrId != null ">addr_id = #{addrId},</if>
            <if test="submitTime != null ">submit_time = #{submitTime},</if>
            <if test="handleTime != null ">handle_time = #{handleTime},</if>
            <if test="fj1 != null  and fj1 != ''">fj1 = #{fj1},</if>
            <if test="fj2 != null  and fj2 != ''">fj2 = #{fj2},</if>
            <if test="fj3 != null  and fj3 != ''">fj3 = #{fj3},</if>
            <if test="fj4 != null  and fj4 != ''">fj4 = #{fj4},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="opinionsta != null ">opinionsta = #{opinionsta},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMebOpinionById" parameterType="Long">
        delete from meb_opinion where id = #{id}
    </delete>

    <delete id="deleteMebOpinionByIds" parameterType="String">
        delete from meb_opinion where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>