<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kmps.mapper.MebPhonerdMapper">
    
    <resultMap type="MebPhonerd" id="MebPhonerdResult">
        <result property="id"    column="id"    />
        <result property="mebid"    column="mebid"    />
        <result property="oldphone"    column="oldphone"    />
        <result property="newphone"    column="newphone"    />
        <result property="createtime"    column="createtime"    />
        <result property="updatetime"    column="updatetime"    />
        <result property="phonerdsta"    column="phonerdsta"    />
    </resultMap>

    <sql id="selectMebPhonerdVo">
        select id, mebid, oldphone, newphone, createtime, updatetime, phonerdsta from meb_phonerd
    </sql>

    <select id="selectMebPhonerdList" parameterType="MebPhonerd" resultMap="MebPhonerdResult">
        <include refid="selectMebPhonerdVo"/>
        <where>  
            <if test="mebid != null "> and mebid = #{mebid}</if>
            <if test="oldphone != null  and oldphone != ''"> and oldphone = #{oldphone}</if>
            <if test="newphone != null  and newphone != ''"> and newphone = #{newphone}</if>
            <if test="createtime != null "> and createtime = #{createtime}</if>
            <if test="updatetime != null "> and updatetime = #{updatetime}</if>
            <if test="phonerdsta != null "> and phonerdsta = #{phonerdsta}</if>
        </where>
    </select>
    
    <select id="selectMebPhonerdById" parameterType="Long" resultMap="MebPhonerdResult">
        <include refid="selectMebPhonerdVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMebPhonerd" parameterType="MebPhonerd" useGeneratedKeys="true" keyProperty="id">
        insert into meb_phonerd
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mebid != null ">mebid,</if>
            <if test="oldphone != null  and oldphone != ''">oldphone,</if>
            <if test="newphone != null  and newphone != ''">newphone,</if>
            <if test="createtime != null ">createtime,</if>
            <if test="updatetime != null ">updatetime,</if>
            <if test="phonerdsta != null ">phonerdsta,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mebid != null ">#{mebid},</if>
            <if test="oldphone != null  and oldphone != ''">#{oldphone},</if>
            <if test="newphone != null  and newphone != ''">#{newphone},</if>
            <if test="createtime != null ">#{createtime},</if>
            <if test="updatetime != null ">#{updatetime},</if>
            <if test="phonerdsta != null ">#{phonerdsta},</if>
         </trim>
    </insert>

    <update id="updateMebPhonerd" parameterType="MebPhonerd">
        update meb_phonerd
        <trim prefix="SET" suffixOverrides=",">
            <if test="mebid != null ">mebid = #{mebid},</if>
            <if test="oldphone != null  and oldphone != ''">oldphone = #{oldphone},</if>
            <if test="newphone != null  and newphone != ''">newphone = #{newphone},</if>
            <if test="createtime != null ">createtime = #{createtime},</if>
            <if test="updatetime != null ">updatetime = #{updatetime},</if>
            <if test="phonerdsta != null ">phonerdsta = #{phonerdsta},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMebPhonerdById" parameterType="Long">
        delete from meb_phonerd where id = #{id}
    </delete>

    <delete id="deleteMebPhonerdByIds" parameterType="String">
        delete from meb_phonerd where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>