<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kmps.mapper.MebVacationMapper">
    
    <resultMap type="MebVacation" id="MebVacationResult">
        <result property="id"    column="id"    />
        <result property="mebid"    column="mebid"    />
        <result property="name"    column="name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="type"    column="type"    />
        <result property="reversta"    column="reversta"    />
        <result property="reason"    column="reason"    />
    </resultMap>

    <sql id="selectMebVacationVo">
        select id, mebid, name, start_time, end_time, type, reversta, reason from meb_vacation
    </sql>

    <select id="selectMebVacationList" parameterType="MebVacation" resultMap="MebVacationResult">
        <include refid="selectMebVacationVo"/>
        <where>  
            <if test="mebid != null "> and mebid = #{mebid}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="reversta != null "> and reversta = #{reversta}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
        </where>
    </select>
    
    <select id="selectMebVacationById" parameterType="Long" resultMap="MebVacationResult">
        <include refid="selectMebVacationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMebVacation" parameterType="MebVacation" useGeneratedKeys="true" keyProperty="id">
        insert into meb_vacation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mebid != null ">mebid,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="endTime != null ">end_time,</if>
            <if test="type != null ">type,</if>
            <if test="reversta != null ">reversta,</if>
            <if test="reason != null  and reason != ''">reason,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mebid != null ">#{mebid},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="startTime != null ">#{startTime},</if>
            <if test="endTime != null ">#{endTime},</if>
            <if test="type != null ">#{type},</if>
            <if test="reversta != null ">#{reversta},</if>
            <if test="reason != null  and reason != ''">#{reason},</if>
         </trim>
    </insert>

    <update id="updateMebVacation" parameterType="MebVacation">
        update meb_vacation
        <trim prefix="SET" suffixOverrides=",">
            <if test="mebid != null ">mebid = #{mebid},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="startTime != null ">start_time = #{startTime},</if>
            <if test="endTime != null ">end_time = #{endTime},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="reversta != null ">reversta = #{reversta},</if>
            <if test="reason != null  and reason != ''">reason = #{reason},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMebVacationById" parameterType="Long">
        delete from meb_vacation where id = #{id}
    </delete>

    <delete id="deleteMebVacationByIds" parameterType="String">
        delete from meb_vacation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>