<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kmps.mapper.OrdActivityPriceMapper">
    
    <resultMap type="OrdActivityPrice" id="OrdActivityPriceResult">
        <result property="id"    column="id"    />
        <result property="edificeId"    column="edifice_id"    />
        <result property="price"    column="price"    />
        <result property="rate"    column="rate"    />
        <result property="discountPrice"    column="discount_price"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
    </resultMap>

    <sql id="selectOrdActivityPriceVo">
        select id, edifice_id, price, rate, discount_price, start_time, end_time from ord_activity_price
    </sql>

    <select id="selectOrdActivityPriceList" parameterType="OrdActivityPrice" resultMap="OrdActivityPriceResult">
        <include refid="selectOrdActivityPriceVo"/>
        <where>  
            <if test="edificeId != null "> and edifice_id = #{edificeId}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="rate != null "> and rate = #{rate}</if>
            <if test="discountPrice != null "> and discount_price = #{discountPrice}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectOrdActivityPriceById" parameterType="Long" resultMap="OrdActivityPriceResult">
        <include refid="selectOrdActivityPriceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOrdActivityPrice" parameterType="OrdActivityPrice" useGeneratedKeys="true" keyProperty="id">
        insert into ord_activity_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="edificeId != null ">edifice_id,</if>
            <if test="price != null ">price,</if>
            <if test="rate != null ">rate,</if>
            <if test="discountPrice != null ">discount_price,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="endTime != null ">end_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="edificeId != null ">#{edificeId},</if>
            <if test="price != null ">#{price},</if>
            <if test="rate != null ">#{rate},</if>
            <if test="discountPrice != null ">#{discountPrice},</if>
            <if test="startTime != null ">#{startTime},</if>
            <if test="endTime != null ">#{endTime},</if>
         </trim>
    </insert>

    <update id="updateOrdActivityPrice" parameterType="OrdActivityPrice">
        update ord_activity_price
        <trim prefix="SET" suffixOverrides=",">
            <if test="edificeId != null ">edifice_id = #{edificeId},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="rate != null ">rate = #{rate},</if>
            <if test="discountPrice != null ">discount_price = #{discountPrice},</if>
            <if test="startTime != null ">start_time = #{startTime},</if>
            <if test="endTime != null ">end_time = #{endTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrdActivityPriceById" parameterType="Long">
        delete from ord_activity_price where id = #{id}
    </delete>

    <delete id="deleteOrdActivityPriceByIds" parameterType="String">
        delete from ord_activity_price where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>